<header class="w-full bg-[#4a90e2] text-white shadow-md">

    <div class="w-full px-6 py-3 flex items-center justify-between">

        <!-- Logo -->
        <div
            class="text-lg font-semibold tracking-wide cursor-pointer"
            routerLink="/">
            MyShopName
        </div>

        <!-- Search -->
        <div class="w-full max-w-md mx-4">

            <input
                style="cursor: pointer;"
                type="text"
                (keyup.enter)="onSearch($event)"
                [(ngModel)]="searchValue"
                placeholder="Search..."
                class="w-full px-3 py-1.5 bg-white text-gray-800 text-sm rounded outline-none border-none placeholder-gray-400 shadow-sm font-normal">

        </div>


        <!-- RIGHT SIDE -->
        <div class="flex items-center gap-4 text-sm font-medium">

    <!-- Admin -->
    <span
        *ngIf="isLoggedIn && isAdmin"
        class="cursor-pointer"
        (click)="router.navigate(['/admin'])">

        Admin

    </span>

    <!-- Normal User -->
     <span
    *ngIf="isLoggedIn && !isAdmin"
    class="cursor-pointer"
    (click)="router.navigate(['/profile'])">
    {{ userName }}
  </span>

    <!-- Logout -->
    <button
        *ngIf="isLoggedIn"
        type="button"
        (click)="logout()"
        class="hover:text-blue-100 transition">

        Logout

    </button>

    <!-- Login -->
    <button
        *ngIf="!isLoggedIn"
        type="button"
        routerLink="/login"
        class="hover:text-blue-100 transition">

        Login

    </button>

</div>

    </div>


    <!-- Categories -->
    <div
        class="w-full px-6 pb-2.5 flex items-center gap-6 text-sm font-medium tracking-wide border-t border-blue-400/20 pt-1">

        <a
            *ngFor="let cat of categoryList"
            (click)="searchCategory(cat._id)"
            class="hover:text-blue-100 cursor-pointer transition py-0.5 whitespace-nowrap">

            {{ cat.name }}

        </a>

        <span
            *ngIf="categoryList.length === 0"
            class="text-xs text-blue-200 italic opacity-80">

            No categories available

        </span>

    </div>

</header>