<div
  class="bg-white border border-gray-200 rounded-sm p-4 flex flex-col justify-between hover:shadow-sm transition h-full max-w-[280px] w-full mx-auto cursor-pointer"
  
>
  <div [routerLink]="['/products', product?._id]">

    <!-- Image -->
    <div
      class="w-full h-44 bg-gray-50 flex items-center justify-center overflow-hidden mb-4 border border-gray-100"
    >
      <img
        *ngIf="product?.image && product.image.length > 0"
        [src]="product.image[0]"
        [alt]="product.name"
        class="w-full h-full object-cover"
      />

      <span
        *ngIf="!product?.image || product.image.length === 0"
        class="text-xs text-gray-400"
      >
        No Image
      </span>
    </div>

    <!-- Product Name -->
    <h3
      class="text-base font-normal text-gray-900 leading-snug tracking-wide mb-4 min-h-[48px]"
    >
      {{ product?.name }}
    </h3>
  </div>

  <!-- Price + Actions -->
  <div class="flex items-center justify-between mt-auto pt-2">

    <!-- Prices -->
    <div class="flex flex-col">

      <!-- Selling Price -->
      <span class="text-sm font-bold text-gray-900 tracking-wide">
        ₹{{ getSellingPrice() | number }}
      </span>

      <!-- Original Price + Discount -->
      <div
        *ngIf="product?.discount > 0"
        class="flex items-center gap-1.5 mt-0.5"
      >

        <!-- Original Price -->
        <span class="text-xs text-gray-400 line-through">
          ₹{{ product?.price | number }}
        </span>

        <!-- Discount -->
        <span class="text-[10px] font-semibold text-green-600">
          {{ product?.discount }}% OFF
        </span>

      </div>
    </div>

    <!-- Actions -->
    <div class="flex items-center gap-2">

      <!-- Favorite -->
      <button
        type="button"
       (click)="addToWishList(product)"
        class="w-8 h-8 flex items-center justify-center text-gray-500 hover:text-red-500 transition"
      >
      @if(isInWishlist(product)){
       <span class="material-icons text-[21px]">favorite</span>
      }@else{
        <span class="material-icons text-[21px]">favorite_border</span>
      }
      </button>

      <!-- Cart -->
      <button
        type="button"
        class="w-8 h-8 flex items-center justify-center text-gray-600 hover:text-green-600 transition"
      >
        <span class="material-icons text-[21px]">
         add_shopping_cart
        </span>
         <!-- <span class="material-icons text-[21px]">remove_shopping_cart</span> -->
      </button>

    </div>

  </div>
</div>